html {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@media (min-width: 3000px) {
    body {
        font-size: 36px;
    }
}

@media (min-width: 700px) {
    body {
        padding-left: 2em;
        padding-right: 2em;
    }
}

#title {
    text-decoration: none;
    color: inherit;
}

h2,
h3,
h4,
h5 {
    margin-bottom: 0.2em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#listings {
    width: 100%;
    margin-top: 2em;
}

label {
    white-space: nowrap;
    min-width: 5em;
}

input {
    padding: 0.5em;
    margin: 1em;
    border: 1px solid #e3e3e3;
    border-radius: 0.25em;
    background-color: white;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

table {
    table-layout: fixed;
    width: 100%;
    border-top: 1px solid #EFEFEF;
    border-spacing: 0px 0px;
    padding-top: 0.5em;
}

thead {
    vertical-align: top;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
    font-size: 1.2em;
}

th,
td {
    text-align: left;
    overflow: hidden;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

tr {
}

.sortable {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

th:first-child, td:first-child {
    width: 6em;
    text-align: right;
    padding-right: 1em;
}

tr:nth-child(even) {
    background-color: rgba(74, 111, 167, 0.05);
}
